/* Variables */
:root {
    --space-inline: 1lh;
    --lh: 1.375;
    --space-block: .5lh;
    --space-inline: .5rem;
    --color-primary: #38bdf8;
    --color-onPrimary: #1f2937;
    --color-onPrimaryVariant: #fff;
    --color-surface: #fff;
    --color-onSurface: #1f2937;
    --color-onSurfaceVariant: #9ca3af;
    --color-outline: #e5e7eb;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-surface: #1f2937;
        --color-onSurface: #d1d5db;
        --color-onSurfaceVariant: #4b5563;
        --color-outline: #374151;
    }
}

/* Base/reset */

body {
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

h1, h2, h3 {
    font: inherit;
    margin-block: 0;
}

ul {
    margin-block: 0;
    padding-inline-start: 0;
    list-style: none;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Globals */

body {
    font: 100% / var(--lh) 'Lucida Grande', 'Lucida Sans', Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-onSurface);
    background-color: var(--color-surface);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: var(--space-block);
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--color-primary);
    padding: calc(var(--space-block) * 2) calc(var(--space-inline) * 2);
    margin-block-end: calc(var(--space-block) * 3);
}

.site-title {
    color: var(--color-onPrimary);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.todayBtn {
    flex-shrink: 0;
    color: var(--color-onPrimaryVariant);
    height: calc(var(--space-block) * 4 + 1lh);
    margin-block: calc(var(--space-block) * -4);
    padding-inline: calc(var(--space-inline) * 2);
    margin-inline: calc(var(--space-inline) * -2);
}

.todayBtn-label {
    cursor: pointer;
}

.todayBtn-label:hover {
    text-decoration: underline;
    text-underline-position: under;
}

/* Day List*/

.dayList {
    padding-inline: calc(var(--space-inline) * 2);
}

.dayList-item {
    scroll-margin-top: calc(1lh + var(--space-block) * 4);
}

.dayList-title {
    font-weight: 600;
    padding-block: var(--space-block);
    background-color: var(--color-surface);
    position: sticky;
    top: calc(1lh + var(--space-block) * 4);
    z-index: 1;
    border-bottom: 1px solid var(--color-outline);
}

.dayList-title + * {
    margin-top: -1px;
}

.eventList {
    padding-bottom: calc(var(--space-block) * 2);
}

.eventList-link {
    display: block;
    padding-block: var(--space-block);
    padding-inline-start: calc(1lh + var(--space-block) * 1);
    text-indent: calc((1lh + var(--space-block) * 1) * -1);
    position: relative;
}

.eventList-link::before {
    content: ' ';
    position: absolute;
    border-top: 1px solid var(--color-outline);
    inset-inline: 0;
    margin-top: calc(var(--space-block) * -1);
}

.eventList-flag {
    width: 1lh;
    margin-inline-end: calc(var(--space-block) * 1);
}

.eventList-title {
    margin-inline-end: .5em;
}

.eventList-streamer {
    color: var(--color-onSurfaceVariant);
}
